:root {
  --transition-s: 200ms;

  --app-max-width: 900px;
  
  --color-text-secondary: #777777;
  --color-text-secondary-hover: #49a909;

  --color-hover: #efefef;
  --color-pressed: #e5e5e5;

  --color-control-bg: #f7f7f7;
}

body {
  max-width: var(--app-max-width);
  min-height: 100dvh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}
