:root {
  --app-max-width: 1600px;

  --color-base100: #F7F7F7;
  --color-base70: #B3B3B3;
  --color-base30: #575757;
  --color-base10: #2B2B2B;
  --color-base07: #222222;
  --color-base05: #1F1F1F;
  --color-base03: #1A1A1A;
  --color-base00: #121212;

  --transition-s: 200ms;
  
  --font-base: Inter, sans-serif;

  --font-h3: 600 1.25rem / 1.5em var(--font-base);
  --font-h4: 600 1rem / 1.5em var(--font-base);
  --font-body: 1rem / 1.5em var(--font-base);
  --font-body2: 0.875rem / 1.25em var(--font-base);
}

body {
  max-width: var(--app-max-width);
  padding: 0 48px;

  color: var(--color-base100);
  background-color: var(--color-base00);

  font: var(--font-body);
}
